<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="header">{{ site.title }}</h1>
        <figure>
			<img src="/assets/images/me.jpg" width="174" height="174">
		</figure>

          <ul>
			<li><a class="buttons mail" href="mailto: rafael.cardoso@manchester.ac.uk">Contact</a></li>
			<li><a class="buttons lattes" href="http://lattes.cnpq.br/8923327438861033" target="_blank">Lattes CV</a></li>
		        <li><a class="buttons orcid" href="https://orcid.org/0000-0001-6666-6954" target="_blank">ORCID</a></li>
			<li><a class="buttons rg" href="https://www.researchgate.net/profile/Rafael_Cardoso10" target="_blank">ResearchGate</a></li>
			<li><a class="buttons gs" href="https://scholar.google.com.br/citations?user=dh_R4EoAAAAJ&hl=en" target="_blank">Google Scholar</a></li>
			<li><a class="buttons dblp" href="http://dblp.uni-trier.de/pers/hd/c/Cardoso:Rafael_C=" target="_blank">DBLP</a></li>
		        <li><a class="buttons linkedin" href="https://www.linkedin.com/in/rafael-cardoso-9718a76b/" target="_blank">LinkedIn</a></li>
            		<li><a class="buttons github" href="{{ site.github.owner_url }}" target="_blank">GitHub</a></li>
	  		<li><a class="buttons fb" href="https://www.facebook.com/rafael.cauecardoso" target="_blank">Facebook</a></li>
          </ul>
      </header>

      <section>
        {{ content }}
      </section>

    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-122740525-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-122740525-1');
	</script>
  </body>
</html>
